body {
    font-family: "Times New Roman", serif;
    background-color: #f2f2f2;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

h3 {
    margin-top: 0;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse; 
}


p, h4, h2, table, th, td, tr, ul, li, ol, h1 {
    background-color: lightblue;
    border-style: solid;
    border-color: red;
    border-width: 1px; 
    padding: 5px;      
    margin-bottom: 5px;
}


ul, ol {
    list-style-position: inside;
    padding-left: 10px;
}