*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.container{
    background-color: aquamarine;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
}

form#frmLogin{
    background-color: burlywood;
    padding: 20px;
    border-radius: 5px;
}

h3.title{
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: larger;
    text-align: center;
}

div.form-group{
    margin-bottom: 10px;
    margin-top: 10px;
}

label{
    color: maroon;
    font-weight: bolder;
}

.form-control{
    display: block;
    width: 100%;
    padding: 3px;
}